@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF;
}

/* Hide scrollbar completely */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}